@define-color black #000000;
@define-color black-2 #040100;
@define-color candy-apple-red #F53320;
@define-color black-3 #000103;
@define-color black-4 #000002;
@define-color space-cadet #35364C;
@define-color cool-gray #9794B8;
@define-color black-5 #000100;
@define-color wenge #6E5E6E;
    
* {
    font-family: "DM Mono";
    font-weight: 400;
    font-size: 14px;
    border-radius: 4px 4px 4px 4px;

    margin-top: 2px;
    margin-bottom: 2px;
}

toolbar, window#waybar {
    background: rgba(00,00,00,00);
}

#clock,
#tray,
#cpu,
#memory,
#network,
#pulseaudio {
}


#workspaces {
    background-color: @space-cadet;
}

#workspaces button {
    all: initial;
    color: @cool-gray;
}

#workspaces button.focused {
    color: @cool-gray;
}

#workspaces button.urgent {
    background-color: #e78a4e;
}

#clock {
    background-color: @space-cadet;
    color: @cool-gray;
}

#tray {
    background-color: @space-cadet;
}


#cpu,
#memory,
#network,
#pulseaudio {
    background-color: @space-cadet;
    color: @cool-gray;
}

#cpu.critical,
#memory.critical {
    background-color: @space-cadet;
    color: @cool-gray;
}
